.root {
    -fx-font-family: "Roboto";
    -fx-font-weight: NORMAL;
    -primary-color: #1de9b6;
    -primary-light-color: #6effe8;
    -primary-dark-color: #00b686;
    -secondary-color: #ea80fc;
    -secondary-light-color: #ffb2ff;
    -secondary-dark-collor: #b64fc8;
}

.item {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 16 0 16;
}

.item-one-line {
    -fx-pref-height: 48;
    -fx-min-height: 48;
    -fx-max-height: 48;
}

.primary-text-one-line {
    -fx-font-size: 16px;
    -fx-text-fill: #000000da;
    -fx-alignment: CENTER_LEFT;
}

.item-three-line {
    -fx-pref-height: 88;
    -fx-min-height: 88;
    -fx-max-height: 88;
}

.primary-text-three-line {
    -fx-font-size: 16px;
    -fx-text-fill: #000000da;
    -fx-pref-height: 28;
    -fx-min-height: 28;
    -fx-max-height: 28;
    -fx-alignment: BOTTOM_LEFT;
}

.secondary-text-three-line {
    -fx-font-size: 14px;
    -fx-text-fill: #00000099;
    -fx-pref-height: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-alignment: CENTER_LEFT;
}
.overline-three-line {
    -fx-font-size: 10px;
    -fx-text-fill: #00000099;
    -fx-pref-height: 28;
    -fx-min-height: 28;
    -fx-max-height: 28;
    -fx-alignment: BOTTOM_LEFT;
}

/*** JFX Decorator ***/

.jfx-decorator {
    -fx-decorator-color: derive(#5264AE, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}